<% layout('layouts/boilerplate') %>

    <div class="main-content">
        <% for (let post of posts) { %>
            <div class="post-container">
                <div class="top-container">
                    <div class="author-container">
                        <img src="/imgs/pfp.png" class="profile-picture" alt="">
                        <p>
                            <%= post.author.username %>
                        </p>
                    </div>
                    <button class="more-button">
                        <img src="/imgs/more.png" alt="comment icon" data-post-id="<%= post._id %>">
                    </button>
                </div>
                <img class="post-img" src="<%= post.image %>" alt="">
                <div class="icon-container">
                    <img class="icon-img" src="/imgs/like-unchecked.png" alt="like icon">
                    <img class="icon-img" src="/imgs/comment.png" alt="comment icon">
                    <img class="icon-img" src="/imgs/forward.png" alt="forward icon">
                </div>
                <p class="post-info-text">
                    <%= post.likes %> Likes
                </p>
                <p class="post-info-text">
                    <%= post.description %>
                </p>
            </div>
            <% } %>
                <% for (let post of posts) { %>
                    <div id="more-container-<%= post._id %>" class="more-container">
                        <% console.log('Current user:', currentUser); %>
                            <% console.log('Post author:', post.author); %>
                                <% console.log('Is condition true:', currentUser && post.author &&
                                    post.author.equals(currentUser._id)); %>
                                    <% if(currentUser && post.author && post.author.equals(currentUser._id)){ %>
                                        <% console.log("SHOWING EDIT AND DELETE"); %>
                                            <form id="myForm" method="POST">
                                                <button class="more-buttons" id="delete-button"
                                                    style="display: block;">Delete</button>
                                            </form>
                                            <button class="more-buttons" id="edit-button"
                                                style="display: block;">Edit</button>
                                            <% } else { %>
                                                <form id="myForm" method="POST">
                                                    <button class="more-buttons" id="delete-button"
                                                        style="display: none;">Delete</button>
                                                </form>
                                                <button class="more-buttons" id="edit-button"
                                                    style="display: none;">Edit</button>
                                                <% } %>

                                                    <button class="more-buttons" id="go-button">Go To Post</button>
                    </div>
                    <% } %>
    </div>

    <style>
        .top-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .author-container {
            display: flex;
            align-items: center;
            margin: 10px;
            margin-left: 0px;
        }

        .profile-picture {
            border-radius: 50%;
            margin-right: 15px;
            width: 32px;
            height: 32px;
        }

        .post-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25vw;
            margin: 0 auto;
        }

        .post-img {
            width: 100%;
            height: 40%;
            border: 2px solid #1F1E1E;
            border-radius: 10px;
        }

        .icon-container {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            padding: 10px 0px 10px 0px;
        }

        .icon-img {
            width: 26px;
            height: 26px;
            margin-right: 12px;
        }

        .main-content {
            position: fixed;
            right: 0;
            width: 85%;
            height: 100%;
            background-color: black;
            overflow: auto;
            padding: 40px;
            color: white;
        }

        .more-button {
            align-self: flex-end;
            border: 0px;
            background: transparent;
        }

        .more-button:hover {
            cursor: pointer;
        }

        .more-button img:active {
            filter: brightness(0.35);
        }

        .more-container {
            position: fixed;
            width: 450px;
            height: 500px;
            top: 50%;
            left: 50%;
            margin-top: -250px;
            /* Negative half of height. */
            margin-left: -225px;
            /* Negative half of width. */
            background-color: #1F1E1E;
            display: none;
            border-radius: 25px;
        }

        #delete-button {
            color: red;
        }

        .more-buttons {
            width: 100%;
            height: 10%;
            background: transparent;
            border: 0px;
            color: white;
            padding: 20px;
            border-bottom: 1px solid gray;
        }

        .post-info-text {
            font-family: sans-serif;
            color: white;
            align-self: flex-start;
            margin-bottom: 15px;
        }

        .post-info-text:nth-of-type(2) {
            font-size: 14px;
            padding-bottom: 15px;
            width: 100%;
            border-bottom: 2px solid #1F1E1E;
        }
    </style>

    <script>
        function toggleMoreContainer(postId) {
            const moreContainers = document.querySelectorAll(".more-container");
            const currentMoreContainer = document.getElementById(`more-container-${postId}`);
            const mainContent = document.querySelector('.main-content');
            const form = currentMoreContainer.querySelector("#myForm");
            const editButton = currentMoreContainer.querySelector("#edit-button");
            const goButton = currentMoreContainer.querySelector("#go-button");


            form.action = `/${postId}/?_method=DELETE`;
            
            // Close all open containers
            moreContainers.forEach(container => {
                if (container !== currentMoreContainer) {
                    container.style.display = "none";
                }
            });

            // Toggle visibility for the current container
            if (currentMoreContainer.style.display === "none") {
                currentMoreContainer.style.display = "block";
                mainContent.style.overflow = "hidden";
            } else {
                currentMoreContainer.style.display = "none";
                mainContent.style.overflow = "auto";
            }

            editButton.addEventListener("click", function () {
                window.location.href = `/${postId}/edit`;
            });

            goButton.addEventListener("click", function () {
                window.location.href = `/post/${postId}`;
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            const moreButtons = document.querySelectorAll(".more-button img");

            for (let moreButton of moreButtons) {
                moreButton.addEventListener("click", function () {
                    const postID = moreButton.dataset.postId;
                    toggleMoreContainer(postID);
                });
            }
        });
    </script>