<% layout('layouts/boilerplate') %>

    <div class="main-content">
        <div class="profile-container">
            <div class="all-info-container">
                <img src="/imgs/pfp.png" alt="Profile picture" class="pfp">
                <div class="info-container">
                    <div class="top">
                        <h1 class="username-text">
                            <%= user.username %>
                        </h1>
                        <% if(currentUser && user._id && user._id.equals(currentUser._id)){ %>
                            <button class="edit-button">Edit profile</button>
                            <% }else{ %>
                                <form action="/<%=user._id%>/profile/follow" method="POST">
                                    <% if(currentUser){ %>
                                        <button type="submit" class="follow-button"
                                            data-following="<%= user.followers.includes(currentUser._id) %>">
                                            <%= user.followers.includes(currentUser._id) ? 'Unfollow' : 'Follow' %>
                                        </button>
                                        <% }else{%>
                                            <button type="submit" class="follow-button">Follow</button>
                                            <% } %>
                                </form>
                                <% } %>
                    </div>
                    <div class="bottom">
                        <p class="info-text">
                            <%= postCount %> post
                        </p>
                        <p class="info-text" id="followers-text">
                            <%=user.followers.length%> followers
                        </p>
                        <p class="info-text">332 following</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <style>
        .main-content {
            position: fixed;
            right: 0;
            width: 85%;
            height: 100%;
            background-color: black;
            overflow: auto;
            padding: 40px;
            color: white;
        }

        .profile-container {
            display: flex;
            justify-content: center;
            width: 75%;
            height: 80vh;
            margin: 0 auto;
            border: 1px solid red;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 80%;
            margin-left: 10%;
            border: 1px solid red;
        }

        .all-info-container {
            display: flex;
            align-items: center;
            width: 65%;
            height: 30%;
            border: 1px solid red;
        }

        .top {
            display: flex;
            flex-direction: row;
            margin: 10px;
        }

        .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border: 1px solid red;
            margin: 10px;
        }

        .info-text {
            margin: 5px;
            margin-right: 20px;
        }

        .edit-button {
            padding: 2px 12px 2px 12px;
            background-color: #2F2E2E;
            width: 25%;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 6px;
        }

        form {
            margin: 0px;
            align-self: center;
        }

        form .follow-button {
            margin: 0;
            padding: 8px 16px;
            background-color: #279EFF;
            width: 100%;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 6px;
            box-sizing: border-box;
        }

        .username-text {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 30px;
            margin-right: 25px;
        }

        .pfp {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin-left: 5%;
            border: 1px solid red;
        }
    </style>

    <script>
        const followButton = document.querySelector('.follow-button');
        const followersText = document.getElementById('followers-text');

        followButton.addEventListener('click', () => {
            const isFollowing = followButton.getAttribute('data-following') === 'true';

            if (isFollowing) {
                followButton.innerText = 'Follow';
                followButton.setAttribute('data-following', 'false');
                currentFollowers = parseInt(followersText.innerText);
                followersText.innerText = `${currentFollowers - 1} followers`;
            } else {
                followButton.innerText = 'Unfollow';
                followButton.setAttribute('data-following', 'true');
                currentFollowers = parseInt(followersText.innerText);
                followersText.innerText = `${currentFollowers + 1} followers`;
            }
        });
    </script>